.singleFingerPlacement {
  border-radius: 50%;
  background-color: blue;
  width: 25px;
  height: 25px;
  margin-right: 28.5px;
  margin-bottom: 28.5px;
}

.invisibleFingerPlacement {
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 28.5px;
  margin-bottom: 28.5px;
}
